.body {
  background-color: rgb(255, 255, 255);
}
.cityButtons {
  /* center horizontally */
  margin-left: auto;
  margin-right: auto;
  /* center vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.cityButton {
  background-color: #E5E5E5;
  border: none;
  color: black;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.cityButton.active {
  background-color: rgb(148, 175, 159);
  color: white;
}
.cityButton {
  background-color: #E5E5E5;
  border: none;
  color: black;
  padding: 6px 8px; /* reduced padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px; /* reduced font size */
  margin: 2px; /* reduced margin */
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: -80px;
}
.activeCity {
  font-size: large;
  margin-bottom: -35px;
  /* center vertically */
  display: flex;
  justify-content: center;

}
.iconAndTemp {
  font-size: x-large;
  /* center vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0px; /* adjusted margin */
  margin-bottom: -30px;
}
.chanceOfRain {
  font-size: small;
  /* center vertically */
  display: flex;
  justify-content: center;
}
.weatherApp {
}