.body {
  background-color: rgb(255, 255, 255);
}
.cityButtons {
  /* center horizontally */
  margin-left: auto;
  margin-right: auto;
  /* center vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.cityButton.active {
  background-color: rgb(148, 175, 159);
  color: white;
}
.cityButton {
  background-color: #E5E5E5;
  border: none;
  color: black;
  padding: 10px 10px; /* reduced padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px; /* reduced font size */
  margin: 2px; /* reduced margin */
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: -80px;
}
.activeCity {
  font-size: large;
  margin-bottom: -35px;
  /* center vertically */
  display: flex;
  justify-content: center;

}
.iconAndTemp {
  font-size: x-large;
  /* center vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0px; /* adjusted margin */
  margin-bottom: -30px;
}
.chanceOfRain {
  font-size: small;
  /* center vertically */
  display: flex;
  justify-content: center;
}

.windspeed {
  font-size: small;
  /* center vertically */
  display: flex;
  margin-bottom: -25px;
  justify-content: center;
}

.currentTime {
  font-size: medium;
  /* center vertically */
  display: flex;
  margin-bottom: -25px;
  justify-content: center;
  margin-top: 20px;
}

.shoppingListHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}


.shopping-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.frequentlyBoughtHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}


.frequently-bought {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addAnyHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}


.add-any-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
  font-weight: 400;
  border-color: grey;
}

.xButton {
  background-color: red;
  color: white;
  font-weight: 400;
  border-color: grey;
}

.forecastSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecastButton {
  font-size: medium;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.forecastButton:hover {
  color: blue;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.forecastTable{
  margin: 0 auto; /* Set left and right margin to auto */
}







